*{
    margin: 0;
    padding: 0;
}
.make-row{
    margin: 0;
}
.main-bodying {
    margin-top: 60px;
}
.main-bodying .main-toping {
    color: #099e6a;
    font-size: 24px;
    text-align: center;
    font-family: "Microsoft YaHei UI Light";
}
.main-bodying .file-input {
    font-family: "Microsoft YaHei UI Light";
}
.main-bodying .submit-btn {
    background-color: #099e6a;
    font-size: 15px;
    color: white;
    font-family: "Microsoft YaHei UI Light";
}

.main-bodying .remark {
    margin-top: 50px;
}