
ul{

    text-decoration: none;
}
li{
    margin: 10px 0;
}

a {
    font-family:"Microsoft YaHei UI";
    font-size: 15px;
    color: #099e6f;

}
a:hover{
    text-decoration: none;

}

.make-row{
    margin: 0;
}
.common-box {
    font-family: "Microsoft YaHei UI Light";
    color: lightgray;
    margin-top: 80px;
}
.common-heading {
    text-align: center;
    font-size: 36px;
}
.common-box .common-boding {
    font-size: 16px;
}
.expert-text {
	margin-top:10px;
	font-family: "Microsoft YaHei UI Light";
    color: #099e6f;
	
}
