body {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
}
html {
	background-color: #F9F9F9;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
}
body {
	background-color: #F9F9F9;
	font-family: Verdana, Arial,Vrinda,Tahoma;
	line-height: 175%;
	font-size:12px;
	color:#666;
}

/*有些表格要用Ajax加载，样式需提前设定*/
table,tr,td,th {  
  
    border:1px solid #cef;  
    border-collapse:collapse;  
    background-color:#fff;  
}  
td {  
    width:200px;  
    height:30px;  
    text-align:center;  
}
/*表格样式设定完毕*/

a {
	color: #3da1ff;
	text-decoration:none;
	font-weight:normal;
}
a:hover {
	color: #0099CC;
}

img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	display:inline;
}
ul{
    margin:0;
	padding:0;
	list-style-position: outside;
	list-style-type: none;
}
li{
	margin:0;
	padding:0;
}
div{
	margin:0;
	padding:0;
}


/*以下修饰头部header*/
.header {
	margin: -2px auto 0;
	padding:0px;
	width: 100%;
	background-color:#FFFFFF;
	/*border: 1px solid #B4C9C6;*/
}
.header .logo {
	height: 50px;
	line-height:50px;
	width: 38%;
	font-size:25px;
	float: left;
	/*以下三行代码表溢出不换行、溢出隐藏、隐藏时在显示省略号*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.header .right_nav {
	float: right;
	width: 60%;
	height: 50px;
}

.right_nav .text_right {
	float: right;
	width: 80%;
	display: inline;
	padding: 22px 0 0 0;
	text-align: right;
}

.nav_return a {
	display: inline;
	color:#3399CC;
}
.nav_return li {
	display:inline;
}

.under_header{
	height:10px;
	line-height:10px;
	width:100%;
	clear:both;
	padding:0 10px 5px 0px;
}
/*修饰头部header结束*/


/*以下修饰菜单menu*/
#nav0 {
	width:83%;
	float:right;
	position:absolute;
	top:69px;
	left:220px;
	background:#d5dedb;
}
#tabs > ul { 
      margin:0; 
	  list-style:none; 
	  padding: 0;
} 
#tabs li {
     float:left; 
	 margin:0; 
	 padding:2px 35px 0 30px;
	 line-height:24px;
	 font-weight:bold;
	 cursor:pointer;
}
#tabs ul li.on
{border-bottom:2px solid saddlebrown;} 
#tabs > div
{
	width:190px;
	height:500px;  /*暂设*/
	border:1px solid #d5dedb;  
	position:absolute;
	top:69px;   /*因为是定值，可能最后要修改*/
	left:10px;	/*因为是定值，可能最后要修改*/
}
.hide{display: none;}
#tabs .left_title
{
	width:100%;
	height:26px;
	line-height:26px;
	text-align:center;
	background-color:#d5dedb;
	color:#666666;
	font-size:13px;	
	margin-top:-0px;	/*奇怪的很*/
}
/*修饰菜单menu完毕*/


/*以下修饰内容主体部分mainbody*/
.mainbody
{
	width:83%;
	height:500px;  /*暂设*/
	border:1px solid #d5dedb;  
	position:absolute;
	top:105px;	/*因为是定值，可能最后要修改*/
	left:220px;	/*因为是定值，可能最后要修改*/
}

