*{margin: 0;padding: 0;}
html body{
    margin: 0px;
    padding: 0px;
    background-color: #f5f5ff;
}
#required {float:left;}
input[required]+label:before {
    content:'*';
    color:red;
    margin-right:5px;
}

#imghead {
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
}

/*注册页面头部*/
.register_top{
    width: 100%;
    height: 40px;
    background-color: #099e6a;
}
.register_top p{
    font-size: 22px;
    line-height: 40px;
    color: white;
    font-family: "Microsoft YaHei UI";
    padding-left: 30px;
}

.register_wrap{
    width: 800px;
    height: 100%;
    margin: 0 auto;
    top: 40px;
    background-color: white;

}

.register_wrap .ipt_box_before{
    width: 100%;
    height: 60px;
}

.register_wrap .ipt_box{
    width: 410px;
    height: 60px;
    margin: 0 auto;
}

.top_img{margin: 30px 0;}

 .register_wrap .ipt_box .item{
     margin: 0;
     width: 100px;
     height: 35px;
     line-height: 35px;
     float: left;
     text-align: right;
     font-family: "Microsoft YaHei UI Light";
     font-size: 16px;
}

.register_wrap .ipt_box .txt{
    width: 300px;
    height: 35px;
    line-height: 35px;
    float: right;
    border-radius: 5px;
    font-family: "Microsoft YaHei UI Light";
    font-size: 15px;
}
.register_wrap .ipt_box .txt select{
    width: 100px;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    border-left: 2px solid darkgray;
    border-top: 2px solid darkgray;
    border-bottom: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
    font-family: "Microsoft YaHei UI Light";
    font-size: 14px;
}
.register_wrap .ipt_box .txt select option{
    font-family: "Microsoft YaHei UI Light";
    font-size: 14px;

}
.register_wrap .upload_photo{
    width: 400px;
    height: 220px;
    margin: 0 auto;
}
.register_wrap .upload_photo .item{
    margin: 0;
    width: 80px;
    height: 35px;
    line-height: 35px;
    float: left;
    text-align: right;
    font-family: "Microsoft YaHei UI Light";
    font-size: 16px;
}
.register_wrap .upload_photo .photo{
    width: 300px;
    float: right;
}
.register_wrap .upload_photo .photo .preview{
    width: 160px;
    height: 180px;
    border-radius: 5px;
    border-left: 1.5px solid darkgray;
    border-top: 1.5px solid darkgray;
    border-bottom: 1.5px solid whitesmoke;
    border-right: 1.5px solid whitesmoke;
}
.register_wrap .upload_photo .photo img{
    width: 156px;
    height: 176px;
    margin: 0px;
    border-radius: 5px;
}
.register_wrap .upload_photo .photo input{
    width: 300px;
    height: 25px;
    margin: 5px auto;
    line-height: 25px;
    border-radius: 5px;
    border: 1.8px solid lightgray;
}

.register_wrap .description_box{
    height: 170px;
}
.register_wrap .description_box .description_txt{
    height: 140px;
    font-size: 15px;
    font-family: "Microsoft YaHei UI Light";
    line-height: 20px;
}

.register_wrap .ipt_box .txt .code{
    height: 35px;
    line-height: 35px;
    float: left;
    border-radius: 5px;
}

.code_img{
    float: right;
    width: 100px;
    height: 35px;
    border-radius: 4px;
}

.register_wrap .register_box{
    height: 200px;
    padding-top: 50px;
    padding-left: 140px;

}
.register_wrap .register_box .submit{
    width: 150px;
    height: 50px;
    font-size: 20px;
    background-color: #099e6a;
    color: #fff;
    font-family: "Microsoft YaHei UI";
    border-radius: 5px;
    border: none;
}
#foot{
    width: 100%;
    text-align: center;
    line-height: 100px;
    color: darkgray;

}

.px12{
    font-size: 12px;
    line-height: 15px;
}

.veri{
    width: 100px;
    height: 30px;
    line-height: 30px;
    float: left;
    border-radius: 5px;
    margin-right: 20px;
}

.px125{
    color: #fff;
    width: 125px;
    height: 32px;
    background-color:white;
    display: inline-block;
    font-weight: bold;
    float: left;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;

}



